.summaryTable {
  thead {
    tr {
      border-bottom: 1px solid lightgrey;
      font-size: smaller;
    }
  }

  th {
    padding: 0 2em 0.5em 0;
  }

  tr {
    border-bottom: 1px solid lightgrey;
  }

  td {
    padding: 0.5em 2em 0.5em 0;
  }

  td.icon {
    padding-left: 0.75em;
    padding-right: 0.5em;
    border-left: 3px solid black;
  }

  td.label {
    max-width: 100px;
  }

  .scrollable {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }
}
