html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Fraunces";
}

table {
  margin: 2em 0;
  text-align: left;
  border-collapse: collapse;
  font-size: smaller;
}


@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  src: url("../public/fonts/Inter.ttf");
}
@font-face {
  font-family: "Fraunces";
  font-weight: 100 900;
  font-style: regular;
  font-named-instance: "Regular";
  src: url("../public/fonts/Fraunces[SOFT\,WONK\,opsz\,wght].ttf");
}

@font-face {
  font-family: "Fraunces";
  font-weight: 100 900;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("../public/fonts/Fraunces-Italic[SOFT\,WONK\,opsz\,wght].ttf");
}