.summaryTableContainer {
  display: grid;
  grid-template-columns: 100px auto;
  column-gap: 10px;
}

.summaryTableCard {
  h3 {
    margin-bottom: 0;
  }
}

.summaryTable {
  thead {
    tr {
      border-bottom: 1px solid lightgrey;
      font-size: smaller;
    }
  }

  th {
    padding: 0 2em 0.5em 0;
  }

  tr {
    border-bottom: 1px solid lightgrey;
  }

  td {
    padding: 0.5em 2em 0.5em 0;
    svg {
      display: flex;
    }
  }

  td.icon {
    padding-left: 0.75em;
    padding-right: 0.5em;
    border-left: 3px solid black;
  }

  td.label {
    max-width: 80px;
  }

  td.alert {
    font-weight: bold;
    color: red;
  }

  .scrollable {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }
}
